.detail-specialty-container {
    background-color: #eee;

    .detail-specialty-content {

        .search-sp-doctor {
            padding: 10px 198px;
            user-select: none;

            .select-location {
                /* styling */
                border: 1px solid #ced4da;
                border-radius: 0.25rem;
                background-color: white;
                display: inline-block;
                line-height: 1.5;
                padding: 6px 28px 6px 12px;
                outline: none;
                font-weight: 400;
                font-size: 1rem;

                /* reset */
                margin: 0;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-appearance: none;
                -moz-appearance: none;

                background-image:
                    linear-gradient(45deg, transparent 50%, gray 50%),
                    linear-gradient(135deg, gray 50%, transparent 50%),
                    linear-gradient(to right, #ccc, #ccc);
                background-position:
                    calc(100% - 20px) calc(1em + 2px),
                    calc(100% - 15px) calc(1em + 2px),
                    calc(100% - 2.5em) 0.5em;
                background-size:
                    5px 5px,
                    5px 5px,
                    1px 1.5em;
                background-repeat: no-repeat;

                &:focus {
                    background-image:
                        linear-gradient(45deg, green 50%, transparent 50%),
                        linear-gradient(135deg, transparent 50%, green 50%),
                        linear-gradient(to right, #ccc, #ccc);
                    background-position:
                        calc(100% - 15px) 1em,
                        calc(100% - 20px) 1em,
                        calc(100% - 2.5em) 0.5em;
                    background-size:
                        5px 5px,
                        5px 5px,
                        1px 1.5em;
                    background-repeat: no-repeat;
                    outline: 0;
                }
            }
        }

        .desc-specialty {
            padding: 10px 198px;
            background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));

            .desc-title {
                padding: 15px 0;

                h1 {
                    font-size: 20px;
                    font-weight: bold;
                    margin: 0;
                }
            }

            .desc-content {
                h2 {
                    color: inherit;
                    font-family: inherit;
                    font-size: 14px;
                    font-weight: 600;
                    margin: 0;
                }

                p {
                    line-height: 1.2;
                    margin: 5px 0;
                }

                ul {
                    margin: 10px 0px 10px 25px;
                    padding: 0;
                }

                &.desc-hide {
                    height: 90px;
                    overflow: hidden;
                }
            }

            .view-detail {
                color: #45c3d2;
                cursor: pointer;
                padding-top: 5px;
                width: fit-content;
                user-select: none;
            }
        }

        .each-doctor {
            padding: 15px;
            margin: 0 198px 10px;
            display: flex;
            box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
            border-radius: 8px;
            background-color: #fff;

            .conten-left {
                width: 50%;
                padding-right: 15px;
                border-right: 1px solid #eee;
                margin-right: 15px;
            }

            .conten-right {
                width: 50%;

                .doctor-schedule {
                    .time-content {
                        display: block;

                        .content-left {
                            min-height: 0;
                            width: 100%;
                        }

                        .content-right {
                            border-left: none;
                            width: 100%;

                            .doctor-extra-infor-container {
                                padding-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}